In [8]:
import pandas as pd

materias = pd.read_csv("electivas.csv")
materias

,Actividad,Tipo,Año,Período,Nota,Origen,Créditos,Puntaje
0,MATEMATICA DISCRETA (6107),Materia,NaN,NaN,NaN,NaN,6.0,0.0
1,ANALISIS MATEMATICO III A (6110),Materia,NaN,NaN,NaN,NaN,6.0,0.0
2,ECUACIONES DIFERENCIALES ORDINARIAS (6118),Materia,NaN,NaN,NaN,NaN,6.0,0.0
3,ANALISIS FUNCIONAL (6119),Materia,NaN,NaN,NaN,NaN,6.0,0.0
4,MECANICA RACIONAL (6211),Materia,NaN,NaN,NaN,NaN,4.0,0.0
...,...,...,...,...,...,...,...,...
73,ACTIVIDADES ACADEMICAS AFINES 16 (AAF16),Materia,NaN,NaN,NaN,NaN,16.0,0.0
74,ACTIVIDADES ACADEMICAS AFINES 24 (AAF24),Materia,NaN,NaN,NaN,NaN,24.0,0.0
75,ACTIVIDADES ACADEMICAS AFINES 26 (AAF26),Materia,NaN,NaN,NaN,NaN,26.0,0.0
76,ACTIVIDADES ACADEMICAS AFINES 9 (AAF9),Materia,NaN,NaN,NaN,NaN,9.0,0.0
77,ACTIVIDADES ACADEMICAS AFINES 39 (AAF39),Materia,NaN,NaN,NaN,NaN,39.0,0.0

In [11]:
materias.drop(columns=["Año", "Período", "Nota", "Origen", "Puntaje"], inplace=True)

In [12]:
materias

                                     Actividad     Tipo  Créditos
0                   MATEMATICA DISCRETA (6107)  Materia       6.0
1             ANALISIS MATEMATICO III A (6110)  Materia       6.0
2   ECUACIONES DIFERENCIALES ORDINARIAS (6118)  Materia       6.0
3                    ANALISIS FUNCIONAL (6119)  Materia       6.0
4                     MECANICA RACIONAL (6211)  Materia       4.0
..                                         ...      ...       ...
73    ACTIVIDADES ACADEMICAS AFINES 16 (AAF16)  Materia      16.0
74    ACTIVIDADES ACADEMICAS AFINES 24 (AAF24)  Materia      24.0
75    ACTIVIDADES ACADEMICAS AFINES 26 (AAF26)  Materia      26.0
76      ACTIVIDADES ACADEMICAS AFINES 9 (AAF9)  Materia       9.0
77    ACTIVIDADES ACADEMICAS AFINES 39 (AAF39)  Materia      39.0

[78 rows x 3 columns]

In [15]:
materias.to_csv("electivas_procesado.csv")